/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/* :root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}*/

/* For readability concerns, you should choose a lighter palette in dark mode. */
/*[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
} */

:root {
  --ifm-color-primary: #4248d6;
  --ifm-color-primary-dark: #2d33cf;
  --ifm-color-primary-darker: #2a31c4;
  --ifm-color-primary-darkest: #2328a1;
  --ifm-color-primary-light: #595edb;
  --ifm-color-primary-lighter: #6569dd;
  --ifm-color-primary-lightest: #878be5;
  /* --ifm-footer-background-color: #21af90; */
}
[data-theme='dark'] {
  --ifm-color-primary: #8a8fe6;
  --ifm-color-primary-dark: #6c72e0;
  --ifm-color-primary-darker: #5d63dc;
  --ifm-color-primary-darkest: #2f38d3;
  --ifm-color-primary-light: #a8acec;
  --ifm-color-primary-lighter: #b7bbf0;
  --ifm-color-primary-lightest: #e5e6f9;
}

:root {
  --doc-sidebar-width: 300px;
  --ifm-container-width: 80%;
  --ifm-container-width-xl: 80%;
}

section {
  margin: var(--ifm-spacing-vertical) var(--ifm-spacing-horizontal);
}


.nav-link {
	color: #212529 !important;
	background-color: #fff !important;
}

.nav-link.active {
	color: #fff !important;
	background-color: #D2B48C !important;
	font-weight: bold;
}

a {
	color: #343631 !important;
	text-decoration: none !important;
}

.actionbutton {
	color: #fff !important;
}
.actionbutton:hover {
	color: #000 !important;
}
.footer__link-item {
	color: #fff !important;
}






.bg-indicators {
	background-color: #6c757d !important;
}









.divider
{
  position: relative;
  margin-top: 90px;
  height: 1px;
}

.div-transparent:before
{
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-arrow-down:after
{
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  left: calc(50% - 7px);
  width: 14px;
  height: 14px;
  transform: rotate(45deg);
  background-color: white;
  border-bottom: 1px solid rgb(48,49,51);
  border-right: 1px solid rgb(48,49,51);
}

.div-tab-down:after
{
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: calc(50% - 10px);
  width: 20px;
  height: 14px;
  background-color: white;
  border-bottom: 1px solid rgb(48,49,51);
  border-left: 1px solid rgb(48,49,51);
  border-right: 1px solid rgb(48,49,51);
  border-radius: 0 0 8px 8px;
}

.div-stopper:after
{
  content: "";
  position: absolute;
  z-index: 1;
  top: -6px;
  left: calc(50% - 7px);
  width: 14px;
  height: 12px;
  background-color: white;
  border-left: 1px solid rgb(48,49,51);
  border-right: 1px solid rgb(48,49,51);
}

.div-dot:after
{
  content: "";
  position: absolute;
  z-index: 1;
  top: -9px;
  left: calc(50% - 9px);
  width: 18px;
  height: 18px;
  background-color: goldenrod;
  border: 1px solid rgb(48,49,51);
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px white,
          0 0 0 4px white;
}




table {
	display: table;
	width: initial;
	margin: 0 auto;
}


/****************************************************************************/
/****************************** charts **************************************/
/****************************************************************************/


.chart-container {
	text-align: center;
	margin: 0%;
}

.chart-panel {
	min-height: 350px;
	width: 60%;
	display: inline-block;
  margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
	.chart-panel {
		width: 100%;
  }
}

.chart-panel2 {
	min-height: 350px;
  margin: 0 auto;
}



/****************************************************************************/
/****************************** survey **************************************/
/****************************************************************************/

/* survey button */
.chat-popup {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	font-size: x-large;
}
.open-chat-button {
	font-weight: bold;
	padding: 30px;
	align-items: center;
	background-color: #1699e2;
	border: none;
	border-radius: 8px;
	box-shadow: 0 0 10px #0003;
	color: #fff;
	cursor: pointer;
	display: flex;
	height: 40px;
	justify-content: center;
}
.sparkles-icon {
	fill: #fff;
	height: 20px;
	margin-right: 5px;
	margin-top: 3px;
	width: 20px;
}

/* survey container */
.survey{
  margin: 2rem auto;
  background: white;
  border: 1px solid  #1976D2;;
  border-radius: 3px;
  text-align: left;
	right: 20px;
	position: 'fixed';
	bottom: 0;
}
.surveytitle {
  background-color: #1976D2;
	color: white;
	font-size: 1.4rem;
	padding: 20px;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	width: 100%;
}
.survey label{
  font-size: 1.2rem;
  line-height: 1;
  cursor: pointer;
  display: block;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
  border-top: 1px solid rgba(black,.1);
  background: white;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .15s ease;
	color:  #1976D2;
}
@media only screen and (max-width: 800px) {
	.survey{
		margin: 0;
		right: 0;
	}
	.surveytitle {
		font-size: 1.1rem;
	}
	.survey label{
		font-size: 0.9rem;
	}
}

.survey label:first-of-type {
  border: 0;
}
.survey label:before {
  content: "";
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 0.2rem solid #ccc;
}
.survey input:checked + label, .survey label:focus, .survey label:hover, .survey label:active {
  color: #1976D2;
}
.survey input:checked + label:before, .survey label:focus:before, .survey label:hover:before, .survey label:active:before {
  background: white;
  border-color: #1976D2;
}
.surveyitem {
	margin: 0%;
	padding: 0%;
}
.survey input[type=radio]{
  display: none;
}
.survey input:checked + label:before {
  border-color: white;
  border: none;
  background: #1976D2;
}

/* survey button */
.surveybuttons {
	text-align: center;
}
.surveybutton {
  outline: none;
  cursor: pointer;
  background: none;
  transition: 0.5s;
  font-size: 24px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
	margin: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.surveybutton:hover {
  border: none;
  color: white;
  font-size: 28px;
  transform: scale(1.1);
}

.red {
  color: #DC143C!important;
}
.red-border {
  border: 2px solid #DC143C;
}
.blue {
  border: 2px solid #1976D2;
  color: #1976D2;
}
.blue:hover {
  background-color: #1976D2;
  transition: all 0.3s ease-in-out;
}
